<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Swaglabs eCommerce Suite">
    <test name="Appium Test Case">
        <classes>
            <class name="com.juaracoding.calculator.LoginTest"></class>
            <class name="com.juaracoding.calculator.InventoryTest"></class>
        </classes>
    </test>
</suite>